/* CSS files add styling rules to your content */

* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

button {
  width: 2em;
}

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  font-size:16px;
}

h1 {
  color: gray;
}



h3 {
  color: gray
}


.controls {
  margin: 2em;
}

/*@media screen and (max-width:450px) {
  .itembox {
    width:90%;
  }
  .list {
    width:17em;
  }

}

@media screen and (min-width:451px) {
*/  .itembox {
    width:90%;
  }
  .list {
    width: 20em;
  }

